body, html {
  margin: 0;
  padding: 0;
  font-family: Comic Sans MS, Ebrima;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background: linear-gradient(to right, #283048, #859398);
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background: linear-gradient(to right, #283048, #859398);
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.days {
  position: relative;
  top:40px;
  width: 280px;
  right: 75px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  
}

.post {
  position: relative;
  top: 160px;
  right: 75px;
  width: 280px;
  }

.special {
  position: relative;
  top: 120px;
  right: 75px;
  width: 280px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.timeIn {
  position: relative;
  top: 80px;
  right: 75px;
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.timeOut {
  position: relative;
  top: 80px;
  width: 140px;
  right: 75px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#local {
  position: relative;
  right: 75px;
  width: 280px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.form-group {
  position: relative;
  left: 150px;
  top: 50px;
}

.hourImage {
  width: 50%;
  position: relative;
  left: 440px;
  bottom: 130px;
}

.bar-comments {
  font-family: Comic Sans MS, Ebrima;
  font-style: italic;
}

.comments {
  font-family: Comic Sans MS, Ebrima;
  color: #cb0000;
}

.pic {
  background-image: url("http://monkeycat.com/wp-content/uploads/auburn-ca-happy-hour.jpg");
  height: 500px; 
  width : 100%;
  position: relative;
  bottom: 20px;
  background-size: cover;
}


