<div ng-include="'views/partials/nav.html'"></div>



<div class="container">
    <h1 class="welcome">Welcome, {{ic.userObject.userName}}</h1>
    
</div>


    <div ng-init="ic.getHappy()">   
<h2 class="hh2">Needs Approval</h2>

<table class="table-striped table table-hover">
    <thead>
        <tr>
            <th class="head">Location</th>
            <th class="head">Days</th>
            <th class="head">Time</th>
            <th class="head">Specials</th>

        </tr>
    </thead>

    <tbody id="approve">
        <tr ng-repeat="happy in ic.happyHour.list" ng-value="happy.id">

            <td>{{happy.location}}</td>
            <td>{{happy.day}}</td>
            <td>{{happy.time}}</td>
            <td>{{happy.specials}}</td>
            <td><button ng-click="ic.update(happy.id, happy.approved)" class="btn btn-info">Allow</button></td>
            <td><button ng-click="ic.delete(happy.id)" class="btn btn-danger">Remove</button></td>

        </tr>
    </tbody>
</table>
</div>