<div ng-include="'views/partials/nav.html'"></div>
<div class ="pic1"></div>
<h1 class="page-header bar-comments text-center">People Have This To Say About {{uc.userService.bar}}!</h1>

<div class="text-center">
    <input class="text-center input1" ng-value="{{happy.comment}}" placeholder="How was it?" ng-model="happy.comment" type="text">

    <button ng-click="uc.commentPost(happy.comment); happy.comment= ''" class="btn btn-primary input2">

        Add Comment</button>
</div>

<div class="container-fluid">
    <div class="jumbotron">

        <div ng-repeat="comment in uc.happyComments.list">

            <p class="comments">{{comment.comments}}</p>
            <hr>
        </div>
    </div>
</div>

    </div>