<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
  
</div>

<div>
    <!-- <select selected="Select Day">
    <option value="Select Day">Select Day</option>
    <option></option> 
    </select> -->
    <button ng-click="uc.getHappy()" class="btn btn-info">Search</button>
   
</div>
</div>

<table class="table-striped table table-hover">
    <thead>
        <tr>
            <th class="head">Location</th>
            <th class="head">Days</th>
            <th class="head">Time</th>
            <th class="head">Specials</th>

        </tr>
    </thead>

    <tbody id="ViewHappy">
        <tr ng-repeat="happy in uc.happyHour.list">

            <td>{{happy.location}}</td>
            <td>{{happy.day}}</td>
            <td>{{happy.time}}</td>
            <td>{{happy.specials}}</td>
        </tr>
    </tbody>
</table>
</div>