<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 class="welcome" >Welcome, {{uc.userObject.userName}}!</h1>
    <h3 class="welcome1">Search for a happy hour and then click on its location to view patron comments!</h3>

</div>

<div>
    <select class="search1" ng-model="uc.days" selected="clear">
        <option value="">Select Day</option>
        <option value="weekday">Monday-Friday</option>
        <option value="everyday">Everyday</option>
    </select>

    <button ng-click="uc.getDay(uc.days)" class="btn btn-success">Search</button>
    <button ng-click="uc.getHappy()" class="btn btn-primary">View All</button>

</div>
</div>

<table class="table-striped table table-hover">
    <thead>
        <tr>
            <th class="head">Location</th>
            <th class="head">Days</th>
            <th class="head">Time</th>
            <th class="head">Specials</th>
            <th class="head">Directions</th>

        </tr>
    </thead>

    <tbody id="ViewHappy">
        <tr ng-repeat="happy in uc.happyHour.list">

            <td>
                <a ng-click="uc.getComments(happy.id, happy.location)">{{happy.location}}</a>
            </td>
            <td class="tabletext">{{happy.day}}</td>
            <td class="tabletext">{{happy.time}}</td>
            <td class="tabletext">{{happy.specials}}</td>
            <td><a target="blank_" href="https://www.google.com/maps/dir/ + {{happy.location}}">Find On Map</a>
             
        </tr>
    </tbody>
</table>
</div>